# Dependências
node_modules/
*/node_modules/

# Variáveis de ambiente (NUNCA commitar)
.env
.env.local
.env.production
.env.*
!.env.example

# Build
dist/
build/
.next/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Banco de dados local
*.sqlite
*.db

# Uploads e arquivos temporários
uploads/
tmp/
temp/

# Prisma generated
/generated/

# Outros arquivos internos
.thumbnail
prisma.config.ts
prisma/
